<ion-list>
  <ion-item *ngFor="let item of itens" (click)="itemClick(item)">
    
    <ion-avatar item-start>
        <ion-icon name="{{item.icon}}"></ion-icon>
    </ion-avatar>
    <h2 style="font-size: 1.1em;">{{ item.item }}</h2>
    <hr>
  </ion-item>
</ion-list>