
<ion-content class="background cssBody" padding>
  <div class="conteiner-interior">
    <div class="conteiner">
      <!-- Logo -->
      <div padding text-center>
        <div class="logo">
          <img src="assets/imgs/Logo.png"/>
        </div>
        <h2 ion-text class="textoLogo">
          SMSFIX
        </h2>
      </div>
      
      <!-- Login Form -->
      <form [formGroup]="loginForm" (ngSubmit)="login()"  > 
        <ion-list class="inputEntradas">
          <ion-item class="dados">
            <ion-label stacked>E-mail</ion-label>
            <ion-input 
              #email 
              formControlName="email" 
              type="email" 
              placeholder="Informe seu e-mail" 
              [class.invalid]="!loginForm.controls.email.valid && loginForm.controls.email.dirty" 
              name="email" 
              [(ngModel)]="model.email">
            </ion-input>
          </ion-item>
          <br/>
          <ion-item class="dados">
            <ion-label stacked>Senha</ion-label>
            <ion-input 
              #password 
              formControlName="senha" 
              type="{{type}}" 
              placeholder="Escolha uma senha" 
              [class.invalid]="!loginForm.controls.senha.valid && loginForm.controls.senha.dirty" 
              name="senha" 
              [(ngModel)]="model.senha">
            </ion-input>
          </ion-item>
          <ion-icon ios="ios-eye" md="md-eye" (click)="visualizarSenha()" class="mostrar" *ngIf="ver == true"></ion-icon>
          <ion-icon ios="ios-eye-off" md="md-eye-off" (click)="visualizarSenha()" class="mostrar" *ngIf="ver == false"></ion-icon>
        </ion-list>

        <button ion-button large block color="corPadrao" block type="submit" style="border: 1px solid #f7f7f7;box-sizing: border-box;">
          Entrar
        </button>
      </form>
      <br>
      <button ion-button large outline block color="light" block class="criarConta" (click)="chamarCriarConta()">
        Criar uma conta
      </button>
      <div padding>
        <h3 class="textoEsqueciSenha" ion-text color="corPadraoCinza" (click)="recuperarSenha()">Esqueceu a senha?</h3>
      </div>
    </div>
  </div>


  <!-- <ion-footer class="faq">
    <ion-row>
      <ion-col>
        
      </ion-col>
      
      <ion-col>
        <button ion-button clear block color="light" block class="criarConta" (click)="chamarCriarConta()">
          Criar uma conta
        </button>
      </ion-col>
    </ion-row>
  </ion-footer> -->
</ion-content>

