
page-login {
    .cssBody{
        overflow: hidden;
    }

    .logo{ 
        margin-top: -4%;
    }

    .textoLogo{
        margin-top: -2%;
        margin-bottom: 2%;
    }

    // .ou{
    //     text-align: center;
    //     color: azure;
    // }

    .criarConta{
        font-size: 1.3em;
    }

    .textoEsqueciSenha{
        text-align: center;
        text-transform:  none;
        font-size: 1.3em;
        color: #ffffff;
        text-decoration: underline;
    }

    .mostrar{
        font-size: 1.8em;
        float: right;
        position: relative;
        display: inline-block;
        margin-bottom: 5%;
        margin-top: -10%;
        margin-right: 3%;
        color: gray;
    }
}


.label-md[stacked], .label-md[floating]{
    font-size: 1em;
    font-weight: bold;
}

.erro-login{
    .toast-container{
        background-color: #1c313a;
    
        .toast-message{
            font-weight: 900;
            font-size: 1.8rem;
            text-align: center;
        }
    }
}