<ion-header>
  <ion-navbar color="primary">
    <ion-buttons left (click)="dismiss()">
      <button ion-button icon-only>
        <ion-icon name='arrow-back'></ion-icon>
      </button>
    </ion-buttons>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Parecer</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <form [formGroup]="parecerFrom" (ngSubmit)="enviaColetaDados()" padding > 
    <ion-list >
      <ion-item >
        <ion-label stacked>Pontos críticos</ion-label>
        <ion-textarea
          #critico 
          formControlName="critico" 
          type="text" 
          placeholder="Informe os pontos críticos" 
          name="critico" 
          [(ngModel)]="model.critico"
          maxlength="400">
        </ion-textarea>
      </ion-item>

      <ion-item >
        <ion-label stacked>Parecer técnico</ion-label>
        <ion-textarea
          #parecer 
          formControlName="parecer" 
          type="text" 
          placeholder="Informe o parecer técnico" 
          name="parecer" 
          [(ngModel)]="model.parecer"
          maxlength="400">
        </ion-textarea>
      </ion-item>
    </ion-list>

    <button ion-button large block color="appPAzul" block type="submit">
      Finalizar
    </button>
  </form>
</ion-content>
