page-add-diagnostico-cont {
    .itemMensagem{
        white-space: normal;
    }

    .tituloNr{
        font-size: 1.3em; 
        color:#124821;
        font-weight: bolder;
    }

    .descricaoNr{
        font-size: 1.2em; 
        color:rgb(61, 61, 61);
        white-space: normal;
        font-weight: 400;
    }

    .verifCheckDesativado{
        display: none;
    }

    .verifCheckAtivado{
        display: block;
    }

    .auditoria {
        display: none;
    }

    .auditoria2 {
        display: block;
    }
}

