<ion-header>
  <ion-navbar color="primary">
    <ion-buttons left (click)="dismiss()">
      <button ion-button icon-only>
        <ion-icon name='arrow-back'></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Diagnóstico</ion-title>

    <ion-buttons start style="padding-left: 2%; padding-right: 2%; border: solid 2px white;" (click)="updateAuditoria()">
      <button ion-button icon-only color="light">
        Salvar
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <form [formGroup]="diagnositcoForm" > <!-- (ngSubmit)="updateAuditoria()" -->
    <ion-list>
      <ion-card *ngFor="let nr of listaNormas; let i = index">
        <!-- CÓDIGO PARA LISTAR AS NORMAS -->
        <ion-grid>
          <ion-row>
            <ion-col col-10>
                <p class="tituloNr" *ngIf="i == 0"> Leg. Complementar </p>
                <p class="tituloNr" *ngIf="i != 0"> NR {{ nr.NumNR }} </p>
              <p class="descricaoNr">{{ nr.NR }}</p>
              <ion-label hidden id='nr{{i}}'></ion-label>
              <ion-label hidden id='marcar{{i}}'></ion-label>
            </ion-col>

            <ion-col col-2 (click)="expandeNormas(nr, i, nr.idNR)">
              <button ion-button icon-start block class="height: 3rem !important; width: 0;" type="button" [ngStyle]="nr.expanded == true ? {'background-color':'green'} : {'background-color':'#bdbdbd'}">
                <ion-icon style="font-size: 1.5em;" [name]="nr.expanded == true? 'arrow-dropdown' : 'arrow-dropright'" float-right [ngStyle]="nr.expanded == true ? {'color':'white'} : {'color':'black'}"></ion-icon>
              </button>
            </ion-col>
          </ion-row>
        </ion-grid>

        <!-- CÓDIGO PARA LISTAR AS SUBNORMAS -->
        <div *ngFor="let subNr of nr.subNR; let j = index;">
          <expande-auditoria-normas [expanded]="nr.expanded" >
            <ion-card class="{{ visual }}"  *ngIf="nr.idNR == subNr.nr_NumNR">
              <div  style="width: 100%; background-color: white; padding: 0;">
              <!-- <div *ngIf="incrementar()"></div> -->
              <ion-label hidden id='subNr{{subNr.idsubNR}}'></ion-label>
              <ion-label ></ion-label>
                <ion-grid >
                  <ion-row>
                    <!-- <p (click)="checarSub(subNr.idsubNR)"> -->
                    <ion-col col-1 (click)="checarSub(subNr.idsubNR)">
                      <ion-icon 
                        ios="ios-checkbox" 
                        md="md-checkbox" 
                        style="font-size: 1.6em; display: none; margin-top: 10px !important;"
                        id="selectSubAtivado{{ subNr.idsubNR }}">
                      </ion-icon>
                      
                      <ion-icon 
                        ios="ios-square-outline" 
                        md="md-square-outline" 
                        style="font-size: 1.6em; margin-top: 10px !important;"
                        id="selectSubDesativado{{ subNr.idsubNR }}">
                      </ion-icon>
                    </ion-col>

                    <ion-col col-9>
                      <ion-label right style="max-width: 100%; text-align: justify; white-space: normal; font-size: 1.3em; font-weight: bolder;">
                        {{ subNr.numero }} - {{ subNr.subNR }}
                      </ion-label>
                    </ion-col>
                    <!-- </p> -->
                    <ion-col col-2 style="float: left !important;" (click)="expandeSubItem(subNr, i, subNr.idsubNR, nr.subNR)">
                      <button ion-button icon-start block class="height: 3rem !important; width: 0;" type="button" [ngStyle]="subNr.expanded == true ? {'background-color':'green'} : {'background-color':'#bdbdbd'}">
                        <ion-icon [name]="subNr.expanded == true? 'arrow-dropdown' : 'arrow-dropright'" float-right [ngStyle]="subNr.expanded == true ? {'color':'white'} : {'color':'black'}" style="margin-top: 4%; padding-left: -2%;"></ion-icon>
                      </button>
                    </ion-col>

                  </ion-row>
                </ion-grid>
                <!-- <ion-checkbox item-left (click)="checarSub(subNr.idsubNR, i, j, subNr)"> -->
                <!-- </ion-checkbox> -->
              </div>

              <div *ngFor="let item of listarRequisitos; let k = index">
                <expande-auditoria-subnormas [expanded]="subNr.expanded">
                  <div *ngIf="subNr.idsubNR == item.chaveSubNR">
                    <ion-grid>
                      <ion-row (click)="checarRequisito(item.idItem, subNr.idsubNR, j)">
                        <ion-col col-1>
                          <ion-icon 
                            ios="ios-checkbox" 
                            md="md-checkbox" 
                            style="font-size: 1.6em; display: none; margin-top: 30px;"
                            id="checkAtivadoItem{{ subNr.idsubNR }}{{ item.idItem }}" 
                            class="ativado">
                          </ion-icon>

                          <ion-icon 
                            ios="ios-square-outline" 
                            md="md-square-outline" 
                            style="font-size: 1.6em; margin-top: 30px;"
                            id="checkNaoAtivadoItem{{ subNr.idsubNR }}{{ item.idItem }}" 
                            class="naoAtivado">
                          </ion-icon>
                        </ion-col>

                        <ion-col col-11>
                          <ion-label hidden id="requisito{{item.idItem}}" class="subNr{{subNr.idsubNR}}" right style="max-width: 100%; text-align: justify;white-space: normal;">{{
                            item.idItem }} </ion-label>
                          <ion-label right style="max-width: 100%; text-align: justify; white-space: normal;">{{
                            item.requisitos }} </ion-label>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                    <ion-label *ngIf="editarMarcados(item.idItem, i, k, subNr.idsubNR, j)" hidden right style="max-width: 100%; text-align: justify;white-space: normal;">{{ item.idItem }} </ion-label>
                  </div>
                </expande-auditoria-subnormas>
              </div>
            </ion-card>
          </expande-auditoria-normas>
        </div>
      </ion-card>
    </ion-list>

    <!-- <div style="padding: 2%;">
      <button ion-button large block color="appPAzul" type="submit" padding>
        Salvar
      </button>
    </div> -->
  </form>
</ion-content>