page-finalizada {
    .nomeEmpresa{
        font-size: 1.3em;
        font-weight: bolder;
        color: #124821;
        margin-bottom: 5%;
    }

    .cnpjEmpresa{
        font-size: 1.2em;
        color: #adadad;
        padding-left: 4px; 
    }

    .cardAuditoria{
        background-color: rgb(245, 245, 245);
        padding: 3%;
        padding-right: -10% !important;  
        margin: 6px;

        .tituloAuditoria{
            text-align: right !important;
            float: left !important;
            color: #124821;
            font-size: 1.2em;
            font-weight: 400;
        }

        .label{
            color: gray;
            margin-bottom: -5%;
            font-weight: bold;
        }
    }
    
    .itensEmpresaAuditoria{
        padding-left: 0;
    }

    .linhaCard{
        padding: 0;
    }
    
    .tituloAud{
        color: #124821;
        font-size: 1.2em;
        font-weight: bolder;
        padding: 5px 0 5px 5px;
    }

    .itensEmpresaAuditoria{
        padding-left: 0;
    }

    .item-md.item-block .item-inner{
        padding: 0;
    }
}
