<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Diagnóstico</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Filtro por</ion-label>
    <ion-select [(ngModel)]="interfaces" interface="popover">
      <ion-option value="auditoria">Auditoria</ion-option>
      <ion-option value="inspecao">Inspeção</ion-option>
    </ion-select>
  </ion-item>

  <div *ngFor="let lista of listaCliente; let x = index">
    <ion-card *ngFor="let auditoria of lista.auditoria; let y = index" (click)="presentPopover($event, lista, x, auditoria)">
      <ion-grid *ngIf="auditoria.status == 3">
        <ion-row>
          <ion-col>
            <h2 class="tituloAud"> {{ auditoria.descricao }} </h2>
            <h2 class="cnpjEmpresa"> {{ lista.nomeClientes }} - {{ lista.cnpj }} </h2>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </div>

  <ion-fab right bottom (click)="adicionarAuditoria()">
    <button ion-fab>
      <ion-icon ios="ios-add" md="md-add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>