
<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Normas</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngFor="let nr of nrsLista; let x = index" (click)="abrirPDFNrs(nr.NumNR)">
    <ion-card *ngIf="x != 0">
      <ion-card-header>
        <p class="tituloNr"> NR {{ nr.NumNR }} </p>
      </ion-card-header>
      
      <button ion-item>
        <p class="descricaoNr">{{ nr.NR }}</p>
      </button>
    </ion-card>
  </div>
</ion-content>

