page-normas {
    .tituloNr{
        text-align: center; 
        font-size: 1.2em; 
        color:#124821;
        font-weight: bolder;
    }

    .descricaoNr{
        text-align: center; 
        font-size: 1.1em; 
        color:rgb(61, 61, 61);
        white-space: normal;
        font-weight: 400;
    }
}

.card-header-md{
    padding-bottom: 0%;
}