page-home {
    .iconeSistema{
        font-size: 3em;
        text-align: center;
        margin: 0 auto;
        padding-top: 20%;
    }

    .card-md{
        text-align: center;
    }

    .col{
        padding: 0;
    }

    .ui-panel-content, .ui-widget-content{
        padding:0px;
    }

    .titulo{
        font-size: 1.2em;
        font-weight: 400;
        word-wrap: break-word !important;
        color: rgb(49, 49, 49);
        padding-top: 5px;
    }

    .tituloDescricao{
        font-size: 1em;
        text-align: center;
        color: rgb(173, 173, 173);
    }

    .tituloAlfa{
        text-align: center;
        color: white;
        position: relative;
        font-size: 3em;
        font-weight: bolder;
    }

    .item-md{
        padding: 0;
    }

    .label-md{
        margin: 0;
    }

    .item-md.item-block .item-inner{
        padding-right: 0; 
    }

    .imgs{
        width: 50px; 
        height: 50px; 
        margin: 0 auto; 
        padding-top: 10%;
        font-size: 2.5em;
        color: #2d9c23;
    }

    .cardHome{
        height: 120px; 
        -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.2), 0 0 0 0 rgba(0, 0, 0, 0.12) !important;
    }
}


.card-md{
    margin: 5px;
    border-radius: 2px;
    width: calc(100% - 9px);
}