<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>SMSFIX</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <br>
  <ion-grid>
    <ion-row>
      <ion-col col-4 (click)="normas()">
        <ion-card class="cardHome">
          <img src="assets/icon/nr.svg" class="imgs"/>
          <div class="titulo">NR</div>
        </ion-card>
      </ion-col>

      <ion-col col-4 (click)="abrirDiagnostico()">
        <ion-card class="cardHome" >
          <img src="assets/icon/diagnostico.svg" class="imgs"/>
          <div class="titulo">Diagnóstico <br/>NR</div>
        </ion-card>
      </ion-col>

      <ion-col col-4 (click)="abrirCaEpi('http://caepi.mte.gov.br/internet/ConsultaCAInternet.aspx')">
        <ion-card class="cardHome" >
          <img src="assets/icon/caepi.svg" class="imgs"/>
          <div class="titulo">CA/EPI</div>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-4 (click)="abrirFaleConosco('http://www.tag3.com.br/projetos/calculadora_sesi/')">
        <ion-card class="cardHome" >
          <ion-icon ios="ios-list-box" md="md-list-box" class="imgs"></ion-icon>
          <div class="titulo">Eventos SST</div>
        </ion-card>
      </ion-col>

      <ion-col col-4 (click)="abrirFaleConosco('http://smsfix.com.br#contact')">
        <ion-card class="cardHome" >
          <ion-icon ios="ios-ribbon" md="md-ribbon" class="imgs"></ion-icon>
          <div class="titulo">PBA</div>
          <span style="font-size: .8em;">Plano Básico Ambiental</span>
        </ion-card>
      </ion-col>


      <ion-col col-4 (click)="abrirFaleConosco('http://smsfix.com.br#contact')">
        <ion-card class="cardHome" >
          <ion-icon ios="ios-text" md="md-text" class="imgs"></ion-icon>
          <div class="titulo">Fale conosco</div>
        </ion-card>
      </ion-col>
      
      
    </ion-row>

    <ion-row>
      <ion-col col-4 (click)="abrirFacebook('https://www.facebook.com/projectsolucoesinteligentes/')">
        <ion-card class="cardHome" >
          <ion-icon ios="logo-facebook" md="logo-facebook" class="imgs"></ion-icon>
          <div class="titulo">Facebook</div>
        </ion-card>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>