<ion-tabs class="tabs-positive tabs-striped" [color]="isAndroid ? 'royal' : 'primary'">
    <ion-tab [root]="novaRoot" tabTitle="NOVAS"></ion-tab>
    <ion-tab [root]="andamentoRoot" tabTitle="ANDAMENTO"></ion-tab>
    <ion-tab [root]="finalizadaRoot" tabTitle="FINALIZADAS"></ion-tab>
</ion-tabs>
