<ion-header>
  <ion-navbar color="primary">
      <ion-buttons left (click)="dismiss()">
        <button ion-button icon-only>
          <ion-icon name='arrow-back'></ion-icon>
        </button>
      </ion-buttons>
    <ion-title>Visualizar</ion-title>
  </ion-navbar>
  
</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col col-6>
            <p class="labelTitulo">Empresa:</p>
            <p class="dadoMostra">{{ viewClient.nomeClientes }}</p>
          </ion-col>
          <ion-col col-6>
            <p class="labelTitulo">CNPJ:</p>
            <p class="dadoMostra">{{ viewClient.cnpj }}</p>
          </ion-col>
        </ion-row>
      </ion-grid>
      
      <ion-grid>
        <ion-row>
          <ion-col col-8>
            <p class="labelTitulo">Setor:</p>
            <p class="dadoMostra">{{ viewAudit.setor }}</p>
          </ion-col>

          <ion-col col-4>
            <p class="labelTitulo">Nº Funcionários:</p>
            <p class="dadoMostra">{{ viewAudit.NFuncionarios }}</p>
          </ion-col>
        </ion-row>         
      </ion-grid>
      <hr/>

      <ion-grid>
        <ion-row>
          <ion-col >
            <p class="labelTitulo">Auditoria:</p>
            <p class="dadoMostra">{{ viewAudit.descricao }}</p>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <p class="labelTitulo">Tipo:</p>
            <p class="dadoMostra">{{ tipo }}</p>
          </ion-col>
        </ion-row> 

        <ion-row>
          <ion-col col-6>
            <p class="labelTitulo">Data abertura:</p>
            <p class="dadoMostra">{{ viewAudit.dataAbertura }}</p>
          </ion-col>

          <ion-col col-6>
            <p class="labelTitulo">Data prevista:</p>
            <p class="dadoMostra">{{ viewAudit.dataPrev }}</p>
          </ion-col>
        </ion-row> 
      </ion-grid>
    </ion-item>
  </ion-list>
  
</ion-content>