page-grafico {
    #chart_div{
        height: 600px;
    }
}

.scroll-zoom-wrapper {
    white-space: nowrap;
}

ion-scroll {
    max-width: 400px;;
    min-height: 160px; 
    height: auto;

    .scroll-content {
        padding: 0px !important;
    }    
}

