<ion-header>
  <ion-navbar color="primary">
    <ion-buttons left (click)="dismiss()">
      <button ion-button icon-only>
        <ion-icon name='arrow-back'></ion-icon>
      </button>
    </ion-buttons>
    <!-- <ion-buttons start style="padding-left: 2%; padding-right: 2%; border: solid 2px white;" (click)="gerarGraficoPDF()">
      <button ion-button icon-only color="light">
        <ion-icon ios="ios-document" md="md-document"></ion-icon>
        Gerar PDF
      </button>
      </ion-buttons> -->
    <ion-title>Gráfico</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-scroll scrollX="true" style="height: 600px;" >
    <div id="chart_div">

    </div>
  </ion-scroll>
</ion-content>