<ion-header>
  <ion-navbar color="primary">
      <ion-buttons left (click)="dismiss()">
        <button ion-button icon-only>
          <ion-icon name='arrow-back'></ion-icon>
        </button>
      </ion-buttons>
      <ion-buttons start style="padding-left: 2%; padding-right: 2%; border: solid 2px white;" (click)="salvar()">
        <button ion-button icon-only color="light">
          Salvar
        </button>
      </ion-buttons>
    <ion-title>Coleta de Dados</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list >
    <ion-card *ngFor="let coleta of vetorColeta; let x = index">
      <ion-grid >
        <ion-row>
          <ion-col col-10>
            <p class="tituloNr">NR {{ coleta.numNr }}</p>
            <p class="descricaoNr">{{ coleta.numSub }} - {{ coleta.subNR }}</p>
            <!-- {{ controleRadio[0]}} --- {{x}} -->
            <ion-icon ios="ios-checkmark-circle" md="md-checkmark-circle" *ngIf="controleRadio[controle2] == coleta.requisito.length"></ion-icon>
          </ion-col>

          <ion-col col-2 (click)="expandeRequisitos(coleta, x)">
            <button ion-button icon-start block class="height: 3rem !important; width: 0;" type="button">
              <ion-icon style="font-size: 1.5em;" [name]="coleta.expanded == true? 'arrow-dropdown' : 'arrow-dropright'" float-right></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>

      <expande-coleta [expanded]="coleta.expanded">
        <div *ngFor="let requisitoColeta of coleta.requisito; let z = index">

          <ion-label style="max-width: 100%; text-align: justify; white-space: normal; font-size: 1.2em; padding: 2%;">{{ requisitoColeta.requisitosTexto }}</ion-label> 
          <ion-list radio-group>
            <div *ngFor="let perg of perguntas; let h = index" style="padding: 10px;">
              <ion-item >
                <ion-label>{{ perg.nomeOpcao }} </ion-label>
                <ion-radio 
                  id="marcadoResposta{{ z }}"
                  value="{{ perg.value }}" 
                  (ionSelect)="checarPerguntas(perg.value, perg.porcentagem, requisitoColeta, z, requisitoColeta.infracao, coleta.requisito.length, x)">
                </ion-radio>
              </ion-item>
            </div>
          </ion-list>
        </div>
      </expande-coleta>
    </ion-card>
  </ion-list>


  <!-- <ion-list>
    <ion-card *ngFor="let normas of listaNormas; let x = index">
      <div  *ngFor="let subColeta of coletaDados; let y = index">
        <div *ngIf="normas.idNR == subColeta.nr_NumNR">
          <ion-grid>
            <ion-row>
              <ion-col col-10>
                <p class="tituloNr">NR {{ normas.NumNR }}</p>
                <p class="descricaoNr">{{ subColeta.numero }} - {{ subColeta.subNR }}</p>
              </ion-col>

              <ion-col col-2 (click)="expandeSub(subColeta, x)">
                <button ion-button icon-start block class="height: 3rem !important; width: 0;" type="button">
                  <ion-icon style="font-size: 1.5em;" [name]="subColeta.expanded == true? 'arrow-dropdown' : 'arrow-dropright'" float-right></ion-icon>
                </button>
              </ion-col>
            </ion-row>
          </ion-grid>

          <ion-card *ngFor="let requisitoColeta of subColeta.requisito; let z = index">
            <expande-coleta [expanded]="subColeta.expanded">
              <ion-label style="max-width: 100%; text-align: justify; white-space: normal; font-size: 1.2em; padding: 2%;">{{ requisitoColeta.requisitosTexto }}</ion-label> 
            </expande-coleta>
          </ion-card>
        </div>
      </div>
    </ion-card>
  </ion-list> -->



  <!-- <ion-list>
    <ion-item *ngFor="let item of requisitos; let a = index">
      <p class="requistos">{{ item.requisitosTexto }}</p>
      <ion-list radio-group>
        <div *ngFor="let perg of perguntas; let i = index" style="padding: 10px;">
          <ion-item >
            <ion-label>{{ perg.nomeOpcao }}</ion-label>
            <ion-radio
              value="{{ perg.value }}" 
              (ionSelect)="checarPerguntas(perg.value, perg.porcentagem, item, i, item.infracao)">
            </ion-radio>
          </ion-item>
        </div>
      </ion-list>
    </ion-item>
  </ion-list> -->

  <ion-row>
    <button ion-button block large (click)="salvar()">Salvar</button>
  </ion-row>
</ion-content>
