page-coleta-dados-auditorias {
    .nr{
        text-align: right;
        font-weight: 600;
        color: gray;
    }

    .requistos{
        font-size: 1em;
        color: black;
        white-space: normal;
        text-align: justify;
    }

    .tituloNr{
        font-size: 1.3em; 
        color:#124821;
        font-weight: bolder;
    }

    .descricaoNr{
        font-size: 1.2em; 
        color:rgb(61, 61, 61);
        white-space: normal;
        font-weight: 400;
    }
}
