page-plano-acao {
    .itemTexto{
        font-size: 1em;
        color: gray;
        padding-bottom: 5px;
    }

    .itemTextoNormativo{
        color: green;
    }

    .labelNova{
        font-size: 1em;
        font-weight: normal !important; 
    }
}

.text-input[disabled]{
    opacity: 1;
}

textarea.text-input {
    display: block;
    background-color: #efefef;
    height: 70px;
    font-size: 1.1em;
    padding: 5px;
}