<ion-header>
  <ion-navbar color="primary">
    <ion-buttons left (click)="dismiss()">
      <button ion-button icon-only>
        <ion-icon name='arrow-back'></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Plano de ação</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <form [formGroup]="planoacao" (ngSubmit)="gerarPlano()"> 
    <ion-list *ngFor="let plano of vetorResultado; let x =  index">
      <ion-item-divider color="light" style="font-weight: bolder; font-size: 1.1em;">
        Item: {{ plano.item }}
      </ion-item-divider>

      <ion-item>
        <ion-label stacked class="itemTextoNormativo">Item normativo: {{ plano.itemNormativo }}  </ion-label>
      </ion-item>
      
      <ion-textarea hidden
        type="text" 
        [(ngModel)]="model.item[x]" 
        formControlName="item"
        (ngModelChange)="update(plano.item, x)">
      </ion-textarea>
      

      <ion-textarea hidden
        type="text" 
        [(ngModel)]="model.itemNormativo[x]" 
        formControlName="itemNormativo"
        (ngModelChange)="update2(plano.itemNormativo, x)">
      </ion-textarea>
      
      <ion-item>
        <ion-label stacked class="itemTexto">Descrição: </ion-label>
        <ion-textarea 
          type="text" 
          [(ngModel)]="model.descricao[x]" 
          (ngModelChange)="update3(plano.descricao, x)"
          formControlName="descricao"
          readonly>
        </ion-textarea>
      </ion-item>

      <!-- <ion-item> 
        <ion-label stacked class="itemTexto">Proposta </ion-label>
        <ion-textarea 
          placeholder="Correção/prevenção"
          formControlName="proposta"
          [(ngModel)]="this.model.proposta[x]"
          required> 
        </ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label stacked class="itemTexto">Responsável </ion-label>
        <ion-textarea 
          placeholder="Responsável técnico" 
          formControlName="responsavel"
          [(ngModel)]="this.model.responsavel[x]"
          required> 
        </ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label stacked class="itemTexto">Prazo execução </ion-label>
        <ion-input 
          #prazoExecucao 
          formControlName="prazoExecucao" 
          placeholder="Data" 
          disabled="true" 
          type="text" 
          name="prazoExecucao" 
          (click)="openDatepicker(x)"
          [(ngModel)]="model.prazoExecucao[x]"
          required>
        </ion-input>
      </ion-item> -->

      <!-- <ion-item>
        <ion-grid item-content>
          <ion-row>
            <ion-col col-6>
              <ion-label stacked class="itemTexto">Ação corretiva </ion-label>
              <ion-checkbox 
                formControlName="acaoCorretiva"
                checked="false"
                [(ngModel)]="model.acaoCorretiva[x]">
              </ion-checkbox>
            </ion-col>

            <ion-col col-6>
              <ion-label stacked class="itemTexto">Ação preventiva</ion-label>
              <ion-checkbox 
              formControlName="acaoPreventiva"
              checked="false"
              [(ngModel)]="model.acaoPreventiva[x]">
            </ion-checkbox>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item> -->

      <ion-item>
        <ion-grid item-content>
          <ion-row>
            <ion-col col-4>
              <ion-label stacked class="itemTexto">Infração </ion-label>
              <ion-input 
                #infracao
                name="infracao"
                type="text" 
                [(ngModel)]="model.infracao[x]" 
                (ngModelChange)="update4(3, x)"
                readonly
                formControlName="infracao">
              </ion-input>
            </ion-col>

            <ion-col col-4>
              <ion-label stacked class="itemTexto">Valor Mínimo</ion-label>
              <ion-input 
                #valorMin
                name="valorMin"
                type="text" 
                [(ngModel)]="model.valorMin[x]" 
                (ngModelChange)="update5(5, x)"
                readonly
                formControlName="valorMin">
              </ion-input>
            </ion-col>

            <ion-col col-4>
              <ion-label stacked class="itemTexto">Valor Máximo</ion-label>
              <ion-input 
                #valorMax
                name="valorMax"
                type="text" 
                [(ngModel)]="model.valorMax[x]" 
                (ngModelChange)="update6(500, x)"
                readonly
                formControlName="valorMax">
              </ion-input>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>

      <!-- <ion-item>
        <ion-label stacked class="itemTexto">Status</ion-label>
        <ion-select 
          required
          interface="popover" 
          placeholder="Selecione o Status" 
          [(ngModel)]="model.status[x]"
          formControlName="acaoPreventiva">
          <ion-option value="1">R - Resolvido</ion-option>
          <ion-option value="2">NP - No Prazo</ion-option>
          <ion-option value="3">V - Vencida</ion-option>
        </ion-select>
      </ion-item> -->
    </ion-list>

    <div padding>
      <button ion-button large block color="appPAzul" block type="submit">
        Gerar Plano
      </button>
    </div>
    
  </form>
</ion-content>