<!-- <ion-menu [content]="content">
    <ion-content class="menu-left">
        <div text-center padding-top padding-bottom class="primary-bg menu-left">
            <img src="assets/imgs/null-user.jpg" class="imgUsuario" />
            <h4 ion-text color="light"> Osmir Custódio Mariano </h4>
        </div>
        <hr/>
        <ion-list class="list-full-border">
            <button ion-item menuClose *ngFor="let page of pages;  let i=index" (click)="openPage(p, i);">
                <ion-icon item-left color="corPadraoEsc" name="{{ page.icon }}"></ion-icon>
                {{ page.title }}
                <ion-icon [name]="selectedMenu == i? 'arrow-dropdown' : 'arrow-dropright'" *ngIf="p.subPages" float-right style="margin-top: 4%;"></ion-icon>
            </button>
        </ion-list>
        <ion-list no-lines [hidden]="selectedMenu != i">
            <ion-item *ngFor="let subPage of p.subPages; let i2=index"  (click)="openPage(subPage)">
                <ion-row>
                    <ion-icon item-left color="corPadraoEsc" name="{{ subPage.icon }}"></ion-icon>
                    <ion-col col-10 class="menu-name">
                        <span ion-text color="color2">&nbsp;{{subPage.title}}</span>
                    </ion-col>
                </ion-row>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav> -->

<ion-menu [content]="content">
    <ion-content class="menu-left">
        <div text-center padding-top padding-bottom class="primary-bg menu-left">
            <img src="assets/imgs/null-user.jpg" class="imgUsuario" />
            <h4 ion-text color="light"> {{ emailUser }} </h4>
        </div>
        <hr/>

        <ion-list>
            <ion-item ion-item *ngFor="let p of pages;  let i=index" (click)="openPage(p, i);">
                <ion-row>
                    <ion-col>
                        <span ion-text>
                            <ion-icon item-left color="corPadraoEsc" name="{{ p.icon }}"></ion-icon>
                            {{p.title}}
                            <ion-icon [name]="selectedMenu == i? 'arrow-dropdown' : 'arrow-dropright'" *ngIf="p.subPages" float-right style="margin-top: 4%;"></ion-icon>
                        </span>
                        
                        <ion-list no-lines [hidden]="selectedMenu != i">
                            <ion-item *ngFor="let subPage of p.subPages; let i2=index"  (click)="openPage(subPage)">
                                <ion-row>
                                    <ion-col>
                                        <ion-icon item-left color="corPadraoEsc" name="{{ subPage.icon }}"></ion-icon>
                                        {{subPage.title}}
                                    </ion-col>
                                </ion-row>
                                <p style="margin-top: -5%;"></p>
                            </ion-item>
                        </ion-list>
                    </ion-col>
                </ion-row>
            </ion-item>
        </ion-list>
        <ion-list>
            <ion-list-header></ion-list-header>
            <ion-item (click)="sairApp()" style="margin-top: -15%;">Sair</ion-item>
        </ion-list>
        
        <ion-footer class="faq">
            <ion-row>
                <ion-col>
                
                </ion-col>
                
                <ion-col>
                <p style="text-align: right; font-size: 0.9em !important; color: rgb(56, 56, 56);">v1.0.006</p>
                </ion-col>
            </ion-row>
        </ion-footer>
    </ion-content>
    
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>