
.logo {
    margin: 10px auto -13%;
    width: 4em;
    font-size: 2.6em;
}

.textoLogo{
    font-size: 2.3em;
    color: #ffffff;
    margin-bottom: -3%;
    font-weight: bolder;
}

.imgUsuario{
    border-radius: 50%;
    overflow: hidden;
    width: 90px;
    height: 90px;
}

.imgUsuarioPerfil{
    border-radius: 50%;
    overflow: hidden;
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.nomeUser{
    text-align: center;
    font-size: 2em;
    color: #1c313a;
}
  
.menu{
    position: fixed;
    margin: 0 auto;
    top: 0;
    margin-top: 10px;
    font-size: 2.1em;
    margin-left: 20px;
    color: white;
}

.primary-bg{
    background-color: #2d9c23;
}

.background{
    background-color: green;
}

.checkbox-md .checkbox-icon{
    width: 20px;
    height: 20px;
}

.item.item-md .checkbox-md{
    margin: 9px 16px 9px 4px;
}

.checkbox-md .checkbox-checked .checkbox-inner{
    width:8px;
    height: 12px;
}

.normas {
    .toast-container{
        background-color: rgb(196, 0, 0);
    
        .toast-message {
          font-weight: 900;
          font-size: 1.5rem;
          text-align: center;
        }
      }
}

.card-md{
    margin: 5px; 
    border-radius: 2px;
    /* width: calc(100% - 9px); */
}

.alert-wrapper {
    min-width: 310px !important;
}

.erro{
    .toast-container{
        background-color: rgb(196, 0, 0);
    
        .toast-message {
          font-weight: 900;
          font-size: 1.5rem;
          text-align: center;
        }
      }
}
// .alert-md .alert-button{
//     margin: 0 10px 10px 0;
//     border: solid 1px;
// }