
<ion-content class="background">
  <ion-icon class="menu" ios="ios-arrow-back" md="md-arrow-back" (click)="voltarLogin()"></ion-icon>
  <div class="conteiner-interior">
    <div class="conteiner">
      <!-- Logo -->
      <div padding text-center>
        <div class="logo">
          <img src="assets/imgs/Logo.png"/>
        </div>
        <h2 ion-text class="textoLogo">
          SMSFIX
        </h2>
      </div>

      <!-- Login Form -->
      <form [formGroup]="loginForm" (ngSubmit)="criarConta()" padding > 
        <ion-list class="inputEntradas">
          <ion-item class="dados">
            <ion-label stacked>Nome</ion-label>
            <ion-input 
              #nome 
              formControlName="nome" 
              type="text" 
              placeholder="Informe seu nome" 
              [class.invalid]="!loginForm.controls.nome.valid && loginForm.controls.nome.dirty" 
              name="nome" 
              [(ngModel)]="model.nome">
            </ion-input>
          </ion-item>
          <br/>
          
          <ion-item class="dados">
            <ion-label stacked>E-mail</ion-label>
            <ion-input 
              #email 
              formControlName="email" 
              type="email" 
              placeholder="Informe seu e-mail" 
              [class.invalid]="!loginForm.controls.email.valid && loginForm.controls.email.dirty" 
              name="email" 
              [(ngModel)]="model.email">
            </ion-input>
          </ion-item>
          <br/>

          <ion-item class="dados">
            <ion-label stacked>Senha</ion-label>
            <ion-input 
              #password 
              formControlName="senha" 
              type="password" 
              placeholder="Escolha uma senha" 
              [class.invalid]="!loginForm.controls.senha.valid && loginForm.controls.senha.dirty" 
              name="senha" 
              [(ngModel)]="model.senha">
            </ion-input>
          </ion-item>
          <br/>

          <ion-icon ios="ios-eye" md="md-eye" (click)="visualizarSenha()" class="mostrar" *ngIf="ver == true"></ion-icon>
          <ion-icon ios="ios-eye-off" md="md-eye-off" (click)="visualizarSenha()" class="mostrar" *ngIf="ver == false"></ion-icon>
          
          <ion-row>
            <ion-col style="max-width: 20%;">
              <ion-item class="dados">
                <ion-label stacked>DD</ion-label>
                <ion-input 
                  #dd 
                  formControlName="dd" 
                  type="number" 
                  placeholder="DD" 
                  [class.invalid]="!loginForm.controls.dd.valid && loginForm.controls.dd.dirty" 
                  name="dd" 
                  [(ngModel)]="model.dd">
                </ion-input>
              </ion-item>
            </ion-col>

            <ion-col style="max-width: 80%;">
              <ion-item class="dados">
                <ion-label stacked>Número</ion-label>
                <ion-input 
                  #telefone 
                  formControlName="telefone" 
                  type="text" 
                  placeholder="Informe o número" 
                  [class.invalid]="!loginForm.controls.telefone.valid && loginForm.controls.telefone.dirty" 
                  name="telefone" 
                  [(ngModel)]="model.telefone">
                </ion-input>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col style="max-width: 10%; margin-left: 3%; margin-top: 6%;">
              <ion-checkbox 
                col-6 
                checked="true" 
                formControlName="aceita_termos" 
                [(ngModel)]="model.aceita_termos">
              </ion-checkbox>
            </ion-col>
            
            <ion-col style="max-width: 90%;">
              <p style="color:white;">Declaro que li e concordo com o <a (click)="termoUso('http://smsfix.com.br/Termo%20de%20Uso%20-%20SMSFIX%20-%20REV-01.pdf')" style="color: white"><strong>termo de uso</strong></a> e a <a (click)="politicaPrivacidade('http://smsfix.com.br/Politica%20Prote%C3%A7%C3%A3o%20de%20Dados.pdf')" style="color: white;"><strong>política de privacidade</strong></a> do aplicativo.
              </p>
            </ion-col>
          </ion-row>
        </ion-list>

        <!-- Botão acessar conta com e-mail e senha -->
        <button ion-button large block color="appPAzul" block type="submit">
          Criar Conta
        </button>
      </form>
      
    </div>
  </div>
  
</ion-content>


