<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Dados Coletados</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

</ion-content>
