page-add-diagnostico {
    .mensagem{
        font-size: 0.7em;
        float: right;    
        position: relative;
        display: inline-block;
        margin-bottom: 5%;
        margin-top: -15%;
        color: red;
    }

    .mostrar{
        font-size: 1.8em;
        float: right;    
        position: relative;
        display: inline-block;
        margin-bottom: 5%;
        margin-top: -10%;
        margin-right: 5%;
        color: red;
    }

    .btn-busca{
        float: right;
        position: relative;
        display: block;
        margin-top: -668px;
    }
}
