<ion-header>
  <ion-navbar color="primary">
      <ion-title>Novo Diagnóstico</ion-title>
    <ion-buttons start left (click)="dismiss()">
      <button ion-button icon-only>
        <ion-icon name="arrow-round-back"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <form [formGroup]="diagnositcoForm" padding>
    <!-- Trecho de código para primeira parte do cadastro da auditoria -->
    <ion-list class="inputEntradas">
      <ion-item class="dados">
        <ion-label stacked>Descrição</ion-label>
        <ion-textarea 
          #descricao 
          formControlName="descricao" 
          type="text" 
          placeholder="Descricao" 
          name="descricao" 
          [(ngModel)]="model.descricao"
          maxlength="50">
        </ion-textarea>
      </ion-item>

      <ion-label style="font-weight: bolder; padding-left: 15px; margin-bottom: 0; font-size: 1.2em; color: gray;">Tipo</ion-label>
      
      <ion-item>
        <ion-label>Tipo de diagnóstico</ion-label>
        <ion-select 
          [(ngModel)]="model.area" 
          #area 
          formControlName="area" 
          interface="popover">
          <ion-option value="1">Auditoria</ion-option>
          <ion-option value="2">Inspeção</ion-option>
        </ion-select>
      </ion-item>

      <!-- <ion-label style="font-weight: bolder; padding-left: 15px; margin-bottom: 0; font-size: 1.2em; color: gray;">Área</ion-label>
      <ion-item class="dados">
        <ion-label>Selecione a tipo</ion-label>
        <ion-select [(ngModel)]="model.tipo" #tipo formControlName="tipo"  interface="popover">
          <ion-option value="1">Segurança do trabalho</ion-option>
          <ion-option value="2">Médicina do trabalho</ion-option>
        </ion-select>
      </ion-item> -->

      <ion-item class="dados">
        <ion-label stacked>CNPJ</ion-label>
        <ion-input 
          #cnpj 
          formControlName="cnpj" 
          type="tel" 
          placeholder="00.000.000/0000-00" 
          [brmasker]="{mask:'00.000.000/0000-00', len:18}"
          [class.invalid]="!diagnositcoForm.controls.cnpj.valid && diagnositcoForm.controls.cnpj.dirty" name="cnpj" [(ngModel)]="model.cnpj">
        </ion-input>
      </ion-item>

      <p class="mensagem" *ngIf="!diagnositcoForm.controls.cnpj.valid && diagnositcoForm.controls.cnpj.dirty">CNPJ Inválido</p>
      <ion-icon class="mostrar" *ngIf="!diagnositcoForm.controls.cnpj.valid && diagnositcoForm.controls.cnpj.dirty" ios="ios-information-circle"
        md="md-information-circle"></ion-icon>

      <ion-item class="dados">
        <ion-label stacked>Empresa</ion-label>
        <ion-input 
          #empresa 
          formControlName="empresa" 
          type="text" 
          placeholder="Forneça o nome da empresa" 
          name="empresa" 
          [(ngModel)]="model.empresa">
        </ion-input>
      </ion-item>

      <ion-item class="dados">
        <ion-label stacked>Setor</ion-label>
        <ion-input 
          #setor 
          formControlName="setor" 
          type="text" 
          placeholder="Forneça o setor" 
          [class.invalid]="!diagnositcoForm.controls.setor.valid && diagnositcoForm.controls.setor.dirty"
          name="setor" 
          [(ngModel)]="model.setor">
        </ion-input>
      </ion-item>

      <ion-row>
        <ion-col>
          <ion-item class="dados">
            <ion-label stacked>CNAE</ion-label>
            <ion-input 
              #cnae 
              formControlName="cnae" 
              type="tel" 
              placeholder="0000-0/00" 
              [brmasker]="{mask:'0000-0/00', len:9}" 
              [class.invalid]="!diagnositcoForm.controls.cnae.valid && diagnositcoForm.controls.cnae.dirty"
              name="cnae" [(ngModel)]="model.cnae">
            </ion-input>
          </ion-item>
        </ion-col>

        <ion-col>
          <ion-item class="dados">
            <ion-label stacked>Nº Funcionários</ion-label>
            <ion-input 
              #numFuncionario 
              formControlName="numFuncionario" 
              type="tel" 
              placeholder="Nº de funcionários" 
              [class.invalid]="!diagnositcoForm.controls.numFuncionario.valid && diagnositcoForm.controls.numFuncionario.dirty"
              name="numFuncionario" 
              [(ngModel)]="model.numFuncionario">
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      

      <ion-item>
        <ion-label stacked>Auditor</ion-label>
        <ion-input 
          #nomeAuditor 
          formControlName="nomeAuditor" 
          type="text" 
          placeholder="Nome do auditor" 
          [class.invalid]="!diagnositcoForm.controls.nomeAuditor.valid && diagnositcoForm.controls.nomeAuditor.dirty"
          name="nomeAuditor" 
          [(ngModel)]="model.nomeAuditor">
        </ion-input>
      </ion-item>

      <ion-item class="dados">
        <ion-label stacked>Registro MTE</ion-label>
        <ion-input 
          #registroMTE 
          formControlName="registroMTE" 
          type="tel" 
          placeholder="00000000/0000" 
          [brmasker]="{mask:'00000000/0000', len:13}"
          name="registroMTE" 
          [(ngModel)]="model.registroMTE">
        </ion-input>
      </ion-item>

      <ion-label style="font-weight: bolder; padding-left: 15px; margin-bottom: 0; font-size: 1.2em; color: gray;">Grau de risco</ion-label>
      <ion-item class="dados">
        <ion-label> Grau de risco</ion-label>
        <ion-select [(ngModel)]="model.grauRisco" #grauRisco formControlName="grauRisco" interface="popover">
          <ion-option value="1">01</ion-option>
          <ion-option value="2">02</ion-option>
          <ion-option value="3">03</ion-option>
          <ion-option value="4">04</ion-option>
        </ion-select>
      </ion-item>

      <ion-row>
        <ion-col>
          <ion-label style="font-weight: bolder; padding-left: 15px; margin-bottom: 0; font-size: 1.2em; color: gray;">Data criação</ion-label>
          <ion-item class="dados">
            <ion-input 
              #dataCriacao 
              formControlName="dataCriacao" 
              placeholder="Data" 
              disabled="true" 
              type="text" 
              name="dataCriacao" 
              (click)="openDatepicker()"
              [(ngModel)]="model.dataCriacao" ng-readonly>
            </ion-input>
          </ion-item>
        </ion-col>

        <ion-col>
          <ion-label style="font-weight: bolder; padding-left: 15px; margin-bottom: 0; font-size: 1.2em; color: gray;">Data prevista</ion-label>
          <ion-item class="dados">
            <ion-input 
              #dataPrevista
              formControlName="dataPrevista" 
              placeholder="Forneça a data" 
              disabled="true" 
              type="text" 
              name="dataPrevista" 
              (click)="openDatepickerPrevista()"
              [(ngModel)]="model.dataPrevista"
              readonly>
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <!-- <ion-label style="font-weight: bolder; padding-left: 15px; margin-bottom: 0; font-size: 1.2em; color: gray;">Data de criação</ion-label>
      <ion-item class="dados">
        <ion-label>Selecione a data</ion-label>
        <ion-input #data formControlName="data" placeholder="Data" disabled="true" type="text" name="data" (click)="openDatepicker()"
          [(ngModel)]="model.data" ng-readonly>
        </ion-input>
      </ion-item> -->
    </ion-list>

    <button ion-button large block color="appPAzul" type="button" (click)="continuar()">
      Avançar
    </button>
  </form>
  <!-- <button ion-button left class="btn-busca" (click)="validarCNPJ()">Validar</button> -->
</ion-content>