
<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Cálculo de Multas</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <form [formGroup]="multaForm" (ngSubmit)="multas()" style="padding-left: 2%;padding-right: 2%;padding-button: 2%;">
    <ion-list>
      <p class="label">Área: </p>
      <ion-item>
        <ion-label>Selecione a área</ion-label>
        <ion-select formControlName="tipo" [(ngModel)]="model.tipo" multiple="true" okText="Ok" cancelText="Cancelar">
          <ion-option>Segurança do trabalho</ion-option>
          <ion-option>Medicina do trabalho</ion-option>
        </ion-select>
      </ion-item>

      <p class="label">Infração: </p>
      <ion-item>
        <ion-label>Selecione o código de infração</ion-label>
        <ion-select formControlName="infracao" [(ngModel)]="model.infracao" multiple="true" okText="Ok" cancelText="Cancelar">
          <ion-option>Infração 01</ion-option>
          <ion-option>Infração 02</ion-option>
          <ion-option>Infração 03</ion-option>
          <ion-option>Infração 04</ion-option>
        </ion-select>
      </ion-item>

      <p class="label">Número de funcionários: </p>
      <ion-item>
        <ion-label>Selecione o número de funcionários</ion-label>
        <ion-select formControlName="numFuncionario" [(ngModel)]="model.numFuncionario" multiple="true" okText="Ok" cancelText="Cancelar">
          <ion-option>01-10</ion-option>
          <ion-option>11-25</ion-option>
          <ion-option>26-50</ion-option>
          <ion-option>51-100</ion-option>
          <ion-option>101-250</ion-option>
          <ion-option>251-500</ion-option>
          <ion-option>501-1000</ion-option>
          <ion-option>1001</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>
    
    <!-- <div>Mínimo: {{ multaMinima }}</div>
    <div>Máximo: {{ multaMaxima }}</div> -->

    <ion-footer style="padding-left: 2%;padding-right: 2%;padding-bottom: 2%;">
      <button ion-button large block color="primary" block type="submit" disabled [hidden]="multaForm.valid">
        Calcular
      </button>
  
      <button ion-button large block color="primary" block type="submit" [hidden]="!multaForm.valid">
        Calcular
      </button>
    </ion-footer>

   
  </form>
</ion-content>
