<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Diagnóstico</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Filtro por</ion-label>
    <ion-select [(ngModel)]="interfaces" interface="popover">
      <ion-option value="auditoria">Auditoria</ion-option>
      <ion-option value="inspecao">Inspeção</ion-option>
    </ion-select>
  </ion-item>

  <div *ngFor="let lista of listaCliente; let x = index">
    <ion-card *ngFor="let auditoria of lista.auditoria; let y = index" (click)="presentPopover($event, lista, x, auditoria)">
      <ion-grid *ngIf="auditoria.status == 1">
        <ion-row>
          <ion-col>
            <h2 class="tituloAud"> {{ auditoria.descricao }} </h2>
            <h2 class="cnpjEmpresa"> {{ lista.nomeClientes }} - {{ lista.cnpj }} </h2>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </div>

  <!-- <ion-item *ngFor="let lista of listaCliente; let i = index" style="padding-right: 0;" no-lines>
      <div (click)="expandeAuditoria(lista)" style="padding: 0;" >
        <ion-row class="linhaCard">
          <ion-col style="max-width: 20%; padding: 0;">
            <ion-avatar item-start>
              <img src="assets/imgs/null-user.jpg">
            </ion-avatar>
          </ion-col>

          <ion-col style="max-width: 80%; padding: 0;">
            <h2 class="nomeEmpresa"> {{ lista.nomeClientes.substring(0,23) }}... </h2>
            <h2 class="cnpjEmpresa"> {{ lista.cnpj }} </h2>
          </ion-col>

          <ion-col style="max-width: 10%;">
            <ion-icon color="corPadraoEsc" [name]="lista.expanded == true? 'remove-circle' : 'add-circle'" float-right style="margin-top: 4%; text-align: right;"></ion-icon>
          </ion-col>
        </ion-row>
        <hr/>
      </div>

    <expande-auditoria [expanded]="lista.expanded">
      <ion-row class="linhaCard" *ngFor="let auditoria of lista.auditoria; let x = index" (click)="presentPopover($event, lista, x, auditoria)">
        <ion-card class="cardAuditoria" *ngIf="auditoria.status == 1">
          <ion-row>
            <h2 class="tituloAuditoria">
              <span style="font-weight: bold; color: gray;"> Auditoria: </span>
              {{ auditoria.descricao }}
            </h2>
          </ion-row>

          <ion-row>
            <ion-col>
              <h2 class="tituloAuditoria">
                <ion-icon ios="ios-calendar" md="md-calendar"></ion-icon>
                {{ auditoria.dataAbertura }}
              </h2>
            </ion-col>
            
            <ion-col>
              <h2 class="tituloAuditoria">
                <ion-icon ios="ios-stopwatch" md="md-stopwatch"></ion-icon>
                {{ auditoria.dataPrev }}
              </h2>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-row>
    </expande-auditoria>
  </ion-item> -->
  <ion-fab right bottom (click)="adicionarAuditoria()">
    <button ion-fab>
      <ion-icon ios="ios-add" md="md-add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>