<ion-header>
  <ion-navbar color="primary">
      <ion-buttons left (click)="dismiss()">
        <button ion-button icon-only>
          <ion-icon name='arrow-back'></ion-icon>
        </button>
      </ion-buttons>
    <ion-title>Editar</ion-title>
  </ion-navbar>
  
</ion-header>


<ion-content padding>
  <h1>Página em manutenção</h1>
</ion-content>
